In [1]:
#intergers are numbers that include 0, positive whole numbers and negative whole numbers
#floats are any real number in math consisting of a whole number, a decimal point and a fractional part

In [2]:
#variables are areas within memory used to store information. 
#we declare a variable or assign a variable and reference it later
#

In [4]:
age = 33 # integer
tax_rate = 0.06 # float type
coordinates = 1+3.4j # complex type z : a+b*j
print(age)
print(type(age))
print(tax_rate)
print(type(tax_rate))
print(coordinates)
print(type(coordinates))

33
<class 'int'>
0.06
<class 'float'>
(1+3.4j)
<class 'complex'>

In [5]:
#important to define in any application, since the calculations and programming can depend on the data properly.

In [7]:
acctBal=13445; 
savInterest=.025; 
months=12; 
alphanum=1+52.4j; 
print(acctBal); 
print(int(savInterest)); 
print(months); 
print(alphanum);

13445
0
12
(1+52.4j)

In [14]:
acctBal = 13445
savInterest = .025
months = 12
alphanum = 1+52.4j
numString = "12345"
print(acctBal, type(acctBal))
print(savInterest, type(savInterest))
print(months, type(months))
print(alphanum, type(alphanum))
print(numString, type(numString))

13445 <class 'int'>
0.025 <class 'float'>
12 <class 'int'>
(1+52.4j) <class 'complex'>
12345 <class 'str'>

In [17]:
#Expressions provide an easy way to perform operations on data values 
a = 50 
b= 6
c = a + b
d = a - b
e = a * b
f = a / b
g = a // b
h = a % b
i = a ** b
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

50
6
56
44
300
8.333333333333334
8
2
15625000000

In [18]:
acctBal = 13445; 
locBal = 16000; 
savBal = 4000; 
savInterest = .025; 
locInterest = .098;
months = 12;
years = 8.5; 
numString = "12345"

In [20]:
result1 = acctBal+savBal-locBal;
print(result1);
result2 = acctBal-locBal*locInterest; 
print(result2);
result3 = savBal*months*savInterest; 
print(result3);
result4 = acctBal/savBal/locBal; 
print(result4);
result5 = savBal*1+savInterest/months**years; 
print(result5)

1445
11877.0
1200.0
0.000210078125
4000.000000000017

In [21]:
import math

In [27]:
a = 6.1
print(a)
b = math.trunc(a)
print(b)
c = math.floor(a)
print(c)
d = math.ceil(a)
print(d)
e = math.pi
print(e)

6.1
6
6
7
3.141592653589793

In [29]:
year_born = input("Enter the year you were born: ") 
current_year = input("Enter the current year: ")
# convert the strings into integers 
born_int = int(year_born) 
current_int = int(current_year)
age = current_int - born_int
print("Your age is:") 
print(age)

Enter the year you were born: 1986
Enter the current year: 2023
Your age is:
37

In [30]:
monthlyDebt = input("Enter the monthly debt payments: "); 
grossIncome = input("Enter the gross monthly income: ");

debtInt = int(monthlyDebt)
incInt = int(grossIncome)
diRatio = debtInt/incInt
print(diRatio)

Enter the monthly debt payments: 2800
Enter the gross monthly income: 10000
0.28

In [33]:
acctBal = int(input("Please enter an account balance: ")); 
intRate = float(input("Please enter an interest rate: "));
time = int(input("Please enter a period of time in years: "))
def Balance(acctBal, intRate, time):
    result = acctBal * intRate * time
    finalBal = result + acctBal
    return finalBal

Please enter an account balance: 1000
Please enter an interest rate: .05
Please enter a period of time in years: 10
500.0
1500.0

In [35]:
bool1 = True
bool2 = False
print(bool1)
print(type(bool1))
print(bool2)
print(type(bool2))

True
<class 'bool'>
False
<class 'bool'>

In [38]:
a = 0
b = 1
print(bool(a))
print(bool(b))

False
True

In [39]:
test = 0 
print(test,':',bool(test))

0 : False

In [40]:
test = [1] 
print(test,':',bool(test))

[1] : True

In [41]:
test = [] 
print(test,':',bool(test))

[] : False

In [42]:
test = 1.1 
print(test,':',bool(test))

1.1 : True

In [43]:
test = "1" 
print(test,':',bool(test))

1 : True

In [44]:
test = False 
print(test,':',bool(test))

False : False

In [45]:
test = True 
print(test,':',bool(test))

True : True

In [46]:
test = 'Easy string' 
print(test,':',bool(test))

Easy string : True

In [48]:
test = "" 
print(test,':',bool(test))

 : False

In [50]:
test = '' 
print(test,':',bool(test))

 : False

In [51]:
a = True
print(a)

True

In [52]:
b = False
print(b)

False

In [53]:
c = not a
print(c)

False

In [54]:
d = a or b
print(d)

True

In [55]:
e = a and b
print(e)

False

In [57]:
a = input("What is the output of the following operation (True and True)? ")
aTest = True and True
print(aTest)

What is the output of the following operation (True and True)? False
True

In [67]:
a= 6
b= 5
print(a > b)
print(b < a)
print(b > a)
print(a < b)
print(a >= b)
print(a == b)
print(a is b)
print(a is not b)
print(a != b)

True
True
False
False
True
False
False
True
True