In [1]:
##A dictionary is a collection of items using defined keys
#key is the index
#each item in dictionary is a pair of a key and a value
#dictionaries are not sorted and are written with curly braces

In [3]:
accounts_dict = dict()
print(accounts_dict)
print(type(accounts_dict))

{}
<class 'dict'>

In [6]:
accounts_dict["x0001"] = 'Anita'
accounts_dict["x0002"] = 'Sunitha'
accounts_dict["x0003"] = 'Kavitha'
accounts_dict["x0004"] = 'Savitha'
accounts_dict["x0005"] = 'Surekha'
print(accounts_dict)

{'x0001': 'Anita', 'x0002': 'Sunitha', 'x0003': 'Kavitha', 'x0004': 'Savitha', 'x0005': 'Surekha'}

In [9]:
accounts_dict["x0001"]

'Anita'

In [10]:
myFirstDict = {
    "brand" : "Mercedes",
    "model" : "GLE",
    "year" : 2021
}
print(myFirstDict)

{'brand': 'Mercedes', 'model': 'GLE', 'year': 2021}

In [11]:
states_abbrev = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA",
"ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV",
"NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC","SD", "TN","TX","UT","VT","VA","WA","WV","WI","WY"]
states_full = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado","Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

In [35]:
states = {
"AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas", "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware", "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
"IL": "Illinois", "IN": "Indiana", "IA": "Iowa",
"KS": "Kansas", "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine",
"MD": "Maryland",
"MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi", "MO": "Missouri", "MT": "Montana",
"NE": "Nebraska", "NV": "Nevada",
"NH": "New Hampshire", "NJ": "New Jersey", "NM": "New Mexico", "NY": "New York",
"NC": "North Carolina",
"ND": "North Dakota",
"OH": "Ohio",
"OK": "Oklahoma", "OR": "Oregon",
"PA": "Pennsylvania", "RI": "Rhode Island",
"SC": "South Carolina",
"SD": "South Dakota",
"TN": "Tennessee", "TX": "Texas",
"UT": "Utah",
"VT": "Vermont",
"VA": "Virginia", "WA": "Washington", "WV": "West Virginia", "WI": "Wisconsin", "WY": "Wyoming"
}
print(states)
print("----------")

print("----------")

print("----------")
print(states["PA"])
print(states["OH"])
print(states["SD"])
print(states["SC"])
print("The 3 states that has a population of over 10 million are " +states["PA"] + ", " +states["OH"]+ " and " +states["SD"]   )
      
      
      
      #,+states["OH]"+", and" +states["SD"])

{'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'}
----------
----------
----------
Pennsylvania
Ohio
South Dakota
South Carolina
The 3 states that has a population of over 10 million are Pennsylvania, Ohio and South Dakota

In [17]:
info = {
"name": "Robert",
"age": 34,
"address": "123 Main Street, Louisville, KY"
}
print(info["name"])

Robert

In [48]:
yearly_revenue = { "2017" : 1000000, "2018" : 1200000, "2019" : 1250000, "2020" : 1100000, "2021" : 1300000,
}
print(yearly_revenue["2017"])
total_income = yearly_revenue["2017"] + yearly_revenue["2018"] + yearly_revenue["2019"] + yearly_revenue["2020"]  + yearly_revenue["2021"] 
print(total_income)
average_income = total_income/len(yearly_revenue)
print(len(yearly_revenue))
print(average_income)

1000000
5850000
5
1170000.0

In [51]:
#for i in dictionary.keys()
for year in yearly_revenue.keys():
    print(year)

2017
2018
2019
2020
2021

In [52]:
for profit in yearly_revenue.values():
    print(profit)

1000000
1200000
1250000
1100000
1300000

In [54]:
students_dict = dict() 
students_dict['X10000'] = 'Michael' 
students_dict['X10002'] = 'Nia' 
students_dict['X10001'] = 'Anita'
print(students_dict)

{'X10000': 'Michael', 'X10002': 'Nia', 'X10001': 'Anita'}

In [56]:
for student_id in students_dict.keys():
    print(students_dict[student_id])

Michael
Nia
Anita

In [63]:
for i in students_dict.keys():
    print(i, ":", students_dict[i])

X10000 : Michael
X10002 : Nia
X10001 : Anita

In [73]:
yearly_revenue = { "2017" : 1000000, "2018" : 1200000, "2019" : 1250000, "2020" : 1100000, "2021" : 1300000,
}
total_income = 0
for year_id in yearly_revenue.keys():
    total_income += yearly_revenue[year_id]
    print(year_id, yearly_revenue[year_id])
print(total_income)
print(total_income/len(yearly_revenue))
print(type(total_income))

2017 1000000
2018 1200000
2019 1250000
2020 1100000
2021 1300000
5850000
1170000.0
<class 'int'>

In [76]:
yearly_revenue = { "2017" : 1000000, "2018" : 1200000, "2019" : 1250000, "2020" : 1100000, "2021" : 1300000,
}
for key, value in yearly_revenue.items():
    print(key, ":", value)

2017 : 1000000
2018 : 1200000
2019 : 1250000
2020 : 1100000
2021 : 1300000

In [82]:
loans = dict()
ctr = 1
while ctr < 5:
    loan_id = input("Please enter the loan ID for loan "+str(ctr)+": ")
    loan_amt = input("Please enter the loan amount for loan "+str(ctr)+ ": ")
    loans[loan_id] = loan_amt
    ctr+=1

for key, value in loans.items():
    print(key,": ", value)

Please enter the loan ID for loan 1: 111
Please enter the loan amount for loan 1: 879798
Please enter the loan ID for loan 2: 123
Please enter the loan amount for loan 2: 773737
Please enter the loan ID for loan 3: 234
Please enter the loan amount for loan 3: 8383894
Please enter the loan ID for loan 4: 232
Please enter the loan amount for loan 4: 080988
111 879798
123 773737
234 8383894
232 080988

####

In [88]:
students_dict = dict()
students_dict[0] = "king"
students_dict[1] = "queen"
students_dict[2] = "elephant"
students_dict[3] = "doctor"
students_dict[4] = "horse"
students_dict[5] = "soldiers"
print(students_dict.keys())
print(students_dict.values())
print(students_dict.items())

dict_keys([0, 1, 2, 3, 4, 5])
dict_values(['king', 'queen', 'elephant', 'doctor', 'horse', 'soldiers'])
dict_items([(0, 'king'), (1, 'queen'), (2, 'elephant'), (3, 'doctor'), (4, 'horse'), (5, 'soldiers')])

In [89]:
acct_list = {
"100001" : "Federica, Yolane", "100002" : "Celestine, Kirbee", "100003" : "Paton, Riannon", "100004" : "Abbot, Gilligan","100005" : "Dorine, Chandra", "100006" : "Natica, Ginnie", "100007" : "Sperling, Lucille", "100008" : "Kermit, Iseabal", "100009" : "Kat, Tori",
"100010" : "Estella, Cristine", "100011" : "Pauly, Genovera", "100012" : "Idelia, Beverley", "100013" : "Nickola, Nessie", "100014" : "Baudin, Jasmina", "100015" : "Bates, Lily", "100016" : "Martguerita, Keelia", "100017" : "Kirbee, Katharina", "100018" : "Camden, Eadie", "100019" : "Iphlgenia, Roberta", "100020" : "Saint, Joelly", "100021" : "Lowry, Eadie", "100022" : "Keelia, Tani", "100023" : "Philoo, Darlleen", "100024" : "Artie, Ginnie", "100025" : "Ajay, Roseline", "100026" : "Frodi, Brandise", "100027" : "Daveta, Dorene", "100028" : "Liebermann, Paulita", "100029" : "Zola, Wynne", "100030" : "Heisel, Sue", "100031" : "Sigfrid, Jsandye", "100032" : "Kimmie, Jean", "100033" : "Muriel, Merle", "100034" : "Viddah, Nelle", "100035" : "Lewes, Selia", "100036" : "Lemuela, Marita", "100037" : "Kalinda, Tatiania", "100038" : "Firmin, Desirae", "100039" : "Casimir, Nita", "100040" : "Pillsbury, Stevana", "100041" : "Willie, Ira", "100042" : "Connelly, Etta", "100043" : "Cookie, Joleen", "100044" : "Himelman, Belva", "100045" : "Annabella, Ketti", "100046" : "Wandie, Brynna", "100047" : "Gaynor, Emelina", "100048" : "Christal, Tonia", "100049" : "Lowry, Wilma", "100050" : "Sholley, Corene"
}
print(acct_list)

{'100001': 'Federica, Yolane', '100002': 'Celestine, Kirbee', '100003': 'Paton, Riannon', '100004': 'Abbot, Gilligan', '100005': 'Dorine, Chandra', '100006': 'Natica, Ginnie', '100007': 'Sperling, Lucille', '100008': 'Kermit, Iseabal', '100009': 'Kat, Tori', '100010': 'Estella, Cristine', '100011': 'Pauly, Genovera', '100012': 'Idelia, Beverley', '100013': 'Nickola, Nessie', '100014': 'Baudin, Jasmina', '100015': 'Bates, Lily', '100016': 'Martguerita, Keelia', '100017': 'Kirbee, Katharina', '100018': 'Camden, Eadie', '100019': 'Iphlgenia, Roberta', '100020': 'Saint, Joelly', '100021': 'Lowry, Eadie', '100022': 'Keelia, Tani', '100023': 'Philoo, Darlleen', '100024': 'Artie, Ginnie', '100025': 'Ajay, Roseline', '100026': 'Frodi, Brandise', '100027': 'Daveta, Dorene', '100028': 'Liebermann, Paulita', '100029': 'Zola, Wynne', '100030': 'Heisel, Sue', '100031': 'Sigfrid, Jsandye', '100032': 'Kimmie, Jean', '100033': 'Muriel, Merle', '100034': 'Viddah, Nelle', '100035': 'Lewes, Selia', '100036': 'Lemuela, Marita', '100037': 'Kalinda, Tatiania', '100038': 'Firmin, Desirae', '100039': 'Casimir, Nita', '100040': 'Pillsbury, Stevana', '100041': 'Willie, Ira', '100042': 'Connelly, Etta', '100043': 'Cookie, Joleen', '100044': 'Himelman, Belva', '100045': 'Annabella, Ketti', '100046': 'Wandie, Brynna', '100047': 'Gaynor, Emelina', '100048': 'Christal, Tonia', '100049': 'Lowry, Wilma', '100050': 'Sholley, Corene'}

In [91]:
account_ids = acct_list.keys()
print(account_ids)

dict_keys(['100001', '100002', '100003', '100004', '100005', '100006', '100007', '100008', '100009', '100010', '100011', '100012', '100013', '100014', '100015', '100016', '100017', '100018', '100019', '100020', '100021', '100022', '100023', '100024', '100025', '100026', '100027', '100028', '100029', '100030', '100031', '100032', '100033', '100034', '100035', '100036', '100037', '100038', '100039', '100040', '100041', '100042', '100043', '100044', '100045', '100046', '100047', '100048', '100049', '100050'])

In [92]:
account_values = acct_list.values()
print(account_values)

dict_values(['Federica, Yolane', 'Celestine, Kirbee', 'Paton, Riannon', 'Abbot, Gilligan', 'Dorine, Chandra', 'Natica, Ginnie', 'Sperling, Lucille', 'Kermit, Iseabal', 'Kat, Tori', 'Estella, Cristine', 'Pauly, Genovera', 'Idelia, Beverley', 'Nickola, Nessie', 'Baudin, Jasmina', 'Bates, Lily', 'Martguerita, Keelia', 'Kirbee, Katharina', 'Camden, Eadie', 'Iphlgenia, Roberta', 'Saint, Joelly', 'Lowry, Eadie', 'Keelia, Tani', 'Philoo, Darlleen', 'Artie, Ginnie', 'Ajay, Roseline', 'Frodi, Brandise', 'Daveta, Dorene', 'Liebermann, Paulita', 'Zola, Wynne', 'Heisel, Sue', 'Sigfrid, Jsandye', 'Kimmie, Jean', 'Muriel, Merle', 'Viddah, Nelle', 'Lewes, Selia', 'Lemuela, Marita', 'Kalinda, Tatiania', 'Firmin, Desirae', 'Casimir, Nita', 'Pillsbury, Stevana', 'Willie, Ira', 'Connelly, Etta', 'Cookie, Joleen', 'Himelman, Belva', 'Annabella, Ketti', 'Wandie, Brynna', 'Gaynor, Emelina', 'Christal, Tonia', 'Lowry, Wilma', 'Sholley, Corene'])

In [100]:
id100001 = acct_list.get("100001")
print(id100001)
id100004 = acct_list.get("100004")
print(id100004)
id100039 = acct_list.get("100039")
print(id100039)

Federica, Yolane
Abbot, Gilligan
Casimir, Nita

In [113]:
accounts = {
'001': 'Daniel Atkins',
'002': 'Rachael Ingram', '003': 'Caiden McKee', '004': 'Tiara Johns', '005': 'Dawson Drake', '006': 'Lisa Short', '007': 'Karlee Richard', '008': 'Kaden Knox', '009': 'Kendrick Galvan', '010': 'Aidyn Herrera'
}

account = accounts.get(input("Please enter an account number: "))
if account == None:
    print("Account not found")
else:
    print(account)

KeyboardInterrupt: Interrupted by user

In [108]:
accounts.pop("003")
print(accounts)

{'001': 'Daniel Atkins', '002': 'Rachael Ingram', '004': 'Tiara Johns', '005': 'Dawson Drake', '006': 'Lisa Short', '007': 'Karlee Richard', '008': 'Kaden Knox', '009': 'Kendrick Galvan', '010': 'Aidyn Herrera'}

In [114]:
popped = accounts.pop("006")
print(popped)

Lisa Short

In [117]:
newlist = dict()
for key,value in list(acct_list.items()):
    if int(key) > 100025:
        newlist[key] = value 
        acct_list.pop(key)
print("List after 100025", newlist) 
print("=======================") 
print("List before 100025", acct_list)

#acct_IDs = acct_list.keys() 
#acct_names = acct_list.values() 
#print(acct_IDs) 
#print(acct_names)

List after 100025 {'100026': 'Frodi, Brandise', '100027': 'Daveta, Dorene', '100028': 'Liebermann, Paulita', '100029': 'Zola, Wynne', '100030': 'Heisel, Sue', '100031': 'Sigfrid, Jsandye', '100032': 'Kimmie, Jean', '100033': 'Muriel, Merle', '100034': 'Viddah, Nelle', '100035': 'Lewes, Selia', '100036': 'Lemuela, Marita', '100037': 'Kalinda, Tatiania', '100038': 'Firmin, Desirae', '100039': 'Casimir, Nita', '100040': 'Pillsbury, Stevana', '100041': 'Willie, Ira', '100042': 'Connelly, Etta', '100043': 'Cookie, Joleen', '100044': 'Himelman, Belva', '100045': 'Annabella, Ketti', '100046': 'Wandie, Brynna', '100047': 'Gaynor, Emelina', '100048': 'Christal, Tonia', '100049': 'Lowry, Wilma', '100050': 'Sholley, Corene'}
=======================
List before 100025 {'100001': 'Federica, Yolane', '100002': 'Celestine, Kirbee', '100003': 'Paton, Riannon', '100004': 'Abbot, Gilligan', '100005': 'Dorine, Chandra', '100006': 'Natica, Ginnie', '100007': 'Sperling, Lucille', '100008': 'Kermit, Iseabal', '100009': 'Kat, Tori', '100010': 'Estella, Cristine', '100011': 'Pauly, Genovera', '100012': 'Idelia, Beverley', '100013': 'Nickola, Nessie', '100014': 'Baudin, Jasmina', '100015': 'Bates, Lily', '100016': 'Martguerita, Keelia', '100017': 'Kirbee, Katharina', '100018': 'Camden, Eadie', '100019': 'Iphlgenia, Roberta', '100020': 'Saint, Joelly', '100021': 'Lowry, Eadie', '100022': 'Keelia, Tani', '100023': 'Philoo, Darlleen', '100024': 'Artie, Ginnie', '100025': 'Ajay, Roseline'}

In [120]:
#updating a dictionary

students_dict = dict() 
students_dict['X10000'] = 'Michael' 
students_dict['X10001'] = 'Nia' 
students_dict['X10002'] = 'Anita'
print(students_dict)
students_dict["X10001"] = "Anil"
print(students_dict)

{'X10000': 'Michael', 'X10001': 'Nia', 'X10002': 'Anita'}
{'X10000': 'Michael', 'X10001': 'Anil', 'X10002': 'Anita'}

In [121]:
new_person = {'S10004': "Karunanidhi"}
students_dict.update(new_person)
print(students_dict)

{'X10000': 'Michael', 'X10001': 'Anil', 'X10002': 'Anita', 'S10004': 'Karunanidhi'}

In [123]:
new_person1 = {'S10005': "Surendra"}
students_dict.update(new_person1)
students_dict

{'X10000': 'Michael',
 'X10001': 'Anil',
 'X10002': 'Anita',
 'S10004': 'Karunanidhi',
 'S10005': 'Surendra'}

In [125]:
new_person2 = {'S10006': "Narendra"}
students_dict.update(new_person2)
students_dict

{'X10000': 'Michael',
 'X10001': 'Anil',
 'X10002': 'Anita',
 'S10004': 'Karunanidhi',
 'S10005': 'Surendra',
 'S10006': 'Narendra'}

In [127]:
new_staff = {"S10007": "Anusha karpi"}
students_dict.update(new_staff)
print(students_dict)

{'X10000': 'Michael', 'X10001': 'Anil', 'X10002': 'Anita', 'S10004': 'Karunanidhi', 'S10005': 'Surendra', 'S10006': 'Narendra', 'S10007': 'Anusha karpi'}

In [128]:
new_staff = {"S10008": "Ramchandran Fraud"}
students_dict.update(new_staff)
print(students_dict)

{'X10000': 'Michael', 'X10001': 'Anil', 'X10002': 'Anita', 'S10004': 'Karunanidhi', 'S10005': 'Surendra', 'S10006': 'Narendra', 'S10007': 'Anusha karpi', 'S10008': 'Ramchandran Fraud'}

In [129]:
info = {
"name": "Enzo",
"accounts":"",
"address":"", }

new_info = {'name' : "Enzo Stephens", 'accounts': ['Checking', 'Savings','Auto Loan'], 'address':'321 Smithfield Lane, New Town, PA, 11876' }
info.update(new_info)
info

{'name': 'Enzo Stephens',
 'accounts': ['Checking', 'Savings', 'Auto Loan'],
 'address': '321 Smithfield Lane, New Town, PA, 11876'}

In [138]:
acct_bals = { 100000 : 48213,
100001 : 51734, 100002 : 57182, 100003 : 80223, 100004 : 126407, 100005 : 6906, 100006 : 31751, 100007 : 103604, 100008 : 56302, 100009 : 102858, 100010 : 62231, 100011 : 74452, 100012 : 114445,
             100013 : 116356, 100014 : 93835, 100015 : 117400, 100016 : 86871, 100017 : 110701, 100018 : 140843, 100019 : 70847, 100020 : 121284, 100021 : 65575, 100022 : 58480, 100023 : 91149, 100024 : 16864, 100025 : 95236, 100026 : 112596, 100027 : 13542, 100028 : 149743, 100029 : 64281, 100030 : 112104, 100031 : 148971, 100032 : 22793, 100033 : 111465, 100034 : 16781, 100035 : 36179, 100036 : 108157, 100037 : 40644, 100038 : 20916, 100039 : 9413, 100040 : 20919, 100041 : 147567, 100042 : 111814, 100043 : 54442, 100044 : 7364, 100045 : 90014, 100046 : 18668, 100047 : 125017, 100048 : 8983, 100049 : 109160
}

highwealth_list = acct_bals.copy()
#print(highwealth_list)
for key, value in list(highwealth_list.items()):
    if value < 10000:
        highwealth_list.pop(key)
print(highwealth_list)

{100000: 48213, 100001: 51734, 100002: 57182, 100003: 80223, 100004: 126407, 100006: 31751, 100007: 103604, 100008: 56302, 100009: 102858, 100010: 62231, 100011: 74452, 100012: 114445, 100013: 116356, 100014: 93835, 100015: 117400, 100016: 86871, 100017: 110701, 100018: 140843, 100019: 70847, 100020: 121284, 100021: 65575, 100022: 58480, 100023: 91149, 100024: 16864, 100025: 95236, 100026: 112596, 100027: 13542, 100028: 149743, 100029: 64281, 100030: 112104, 100031: 148971, 100032: 22793, 100033: 111465, 100034: 16781, 100035: 36179, 100036: 108157, 100037: 40644, 100038: 20916, 100040: 20919, 100041: 147567, 100042: 111814, 100043: 54442, 100045: 90014, 100046: 18668, 100047: 125017, 100049: 109160}