In [2]:
import numpy as np
import pandas as pd

In [3]:
# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [9]:
#each row is array forms a row in Dataframe object
pd.DataFrame(np.array([[10,11],[20,21]]))

    0   1
0  10  11
1  20  21

In [18]:
#create a dataframe fo a list of series objects
pd.Series(np.arange(10, 15))

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [17]:
pd.Series(np.arange(20,25))

0    20
1    21
2    22
3    23
4    24
dtype: int64

In [20]:
#join 2 series to create a dataframe
df1 = pd.DataFrame([pd.Series(np.arange(10, 15)), pd.Series(np.arange(20,25))])
df1

    0   1   2   3   4
0  10  11  12  13  14
1  20  21  22  23  24

In [22]:
#dataframe is always 2 dimensional
df1.shape

(2, 5)

In [26]:
#column names can be specified at the time of creating the dataframe by using columns parameter
df = pd.DataFrame(np.array([[10,20], [20,30]]) , columns=['a','b'])
df

    a   b
0  10  20
1  20  30

In [29]:
#The names of the columns of a DataFrame can be accessed with its .columns property
df.columns

Index(['a', 'b'], dtype='object')

In [30]:
# retrieve just the names of the columns by position
"{0},{1}".format(df.columns[0], df.columns[1])

'a,b'

In [35]:
#rename the columns
df.columns = ["c1", "c2"]
df

   c1  c2
0  10  20
1  20  30

In [41]:
df = pd.DataFrame(np.array([[0,1], [2,3]]), columns = ['a', 'b'], index = ['x', 'y'])
df

   a  b
x  0  1
y  2  3

In [42]:
df.index

Index(['x', 'y'], dtype='object')

In [51]:
#create a dataframe with two series objects and a dictionary
s1 = pd.Series(np.arange(1,6,1))
print(s1)
s2 = pd.Series(np.arange(6,11,1))
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64

    c1
c2  s2

In [64]:
pd.DataFrame({'c1': s1,'c2' : s2})

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [66]:
#A DataFrame also performs automatic alignment of the data for each Series passed in by a dictionary
s3 = pd.Series(np.arange(12,14) , index = [1,2])
s3

1    12
2    13
dtype: int64

In [69]:
df = pd.DataFrame({"c1": s1 , "c2": s2 , "c3" : s3})
df

   c1  c2    c3
0   1   6   NaN
1   2   7  12.0
2   3   8  13.0
3   4   9   NaN
4   5  10   NaN

In [70]:
!head -n 3 sp500.csv

In [80]:
#read in the data and print the first five rows
#use the Symbol column as the index, and
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("sp500.csv", index_col = "Symbol", usecols = [0,2,3,7])

In [183]:
# peek at the first 5 rows of the data using .head()
sp500.head(12)

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
AES                  Utilities   13.61       5.781
AET                Health Care   76.39      40.021
AFL                 Financials   61.31      34.527
A                  Health Care   56.18      16.928
GAS                  Utilities   52.98      32.462

[12 rows x 3 columns]

In [88]:
# peek at the last 5 rows of the data using .tail()
sp500.tail()

                        Sector   Price  Book Value
Symbol
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

In [89]:
# how many rows of data?
len(sp500)

500

In [92]:
#examine the index
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [93]:
# get the columns
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [97]:
one_mon_hist = pd.read_csv("omh.csv")
one_mon_hist.head()

         Date   MSFT    AAPL
0  2014-12-01  48.62  115.07
1  2014-12-02  48.46  114.63
2  2014-12-03  48.08  115.93
3  2014-12-04  48.84  115.49
4  2014-12-05  48.42  115.00

In [98]:
# examine the first three rows
!head -n 3 omh.csv

Date,MSFT,AAPL
2014-12-01,48.62,115.07
2014-12-02,48.46,114.63

In [102]:
# examine the first three rows
one_mon_hist[0:3]

         Date   MSFT    AAPL
0  2014-12-01  48.62  115.07
1  2014-12-02  48.46  114.63
2  2014-12-03  48.08  115.93

In [121]:
sp500.loc[:,["Sector","Price"]]

                        Sector   Price
Symbol
MMM                Industrials  141.14
ABT                Health Care   39.60
ABBV               Health Care   53.95
ACN     Information Technology   79.79
ACE                 Financials  102.91
...                        ...     ...
YHOO    Information Technology   35.02
YUM     Consumer Discretionary   74.77
ZMH                Health Care  101.84
ZION                Financials   28.43
ZTS                Health Care   30.53

[500 rows x 2 columns]

In [148]:
sp500.loc[:, ["Price"]].head()

         Price
Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91

In [149]:
sp500[["Price"]].head()

         Price
Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91

In [151]:
type(sp500["Price"].head())

pandas.core.series.Series

In [146]:
# create a new DataFrame with integers as the column names
df = sp500.copy()
df.columns = [1,2,3]
df

                             1       2       3
Symbol
MMM                Industrials  141.14  26.668
ABT                Health Care   39.60  15.573
ABBV               Health Care   53.95   2.954
ACN     Information Technology   79.79   8.326
ACE                 Financials  102.91  86.897
...                        ...     ...     ...
YHOO    Information Technology   35.02  12.768
YUM     Consumer Discretionary   74.77   5.147
ZMH                Health Care  101.84  37.181
ZION                Financials   28.43  30.191
ZTS                Health Care   30.53   2.150

[500 rows x 3 columns]

In [141]:
df.head()

                             1       2       3
Symbol
MMM                Industrials  141.14  26.668
ABT                Health Care   39.60  15.573
ABBV               Health Care   53.95   2.954
ACN     Information Technology   79.79   8.326
ACE                 Financials  102.91  86.897

In [142]:
df[1]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
                 ...
YHOO    Information Technology
YUM     Consumer Discretionary
ZMH                Health Care
ZION                Financials
ZTS                Health Care
Name: 1, Length: 500, dtype: object

In [143]:
type(df[1])

pandas.core.series.Series

In [153]:
df.columns = ["company","Price","X"]
df

                       company   Price       X
Symbol
MMM                Industrials  141.14  26.668
ABT                Health Care   39.60  15.573
ABBV               Health Care   53.95   2.954
ACN     Information Technology   79.79   8.326
ACE                 Financials  102.91  86.897
...                        ...     ...     ...
YHOO    Information Technology   35.02  12.768
YUM     Consumer Discretionary   74.77   5.147
ZMH                Health Care  101.84  37.181
ZION                Financials   28.43  30.191
ZTS                Health Care   30.53   2.150

[500 rows x 3 columns]

In [154]:
df["company"]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
                 ...
YHOO    Information Technology
YUM     Consumer Discretionary
ZMH                Health Care
ZION                Financials
ZTS                Health Care
Name: company, Length: 500, dtype: object

In [155]:
type(df["company"])

pandas.core.series.Series

In [163]:
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [164]:
# attribute access of the column by name
sp500['Price']

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [166]:
sp500.columns.get_loc('Price')

1

In [167]:
# first five rows
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [168]:
sp500['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

In [170]:
# get row with label MMM
# returned as a Series
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [172]:
# rows with label MMM and MSFT
   # this is a DataFrame result
sp500.loc[['MMM','ABT']]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573

In [178]:
sp500.iloc[[0,2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [184]:
# get the location of MMM and A in the index
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
"{0} {1}".format(i1, i2)

'0 10'

In [186]:
 # and get the rows
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

In [188]:
# by label in both the index and column
sp500.at['MMM', 'Price']

141.14

In [189]:
# by location.  Row 0, column 1
sp500.iat[0,1]

141.14

In [190]:
# what rows have a price < 100?
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [197]:
# now get the rows with Price < 100
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [203]:
# get only the Price where Price is < 10 and > 0
r = sp500[(sp500.Price > 0) & (sp500.Price < 10)][['Price']]

        Price
Symbol
FTR      5.81
HCBK     9.80
HBAN     9.10
SLM      8.82
WIN      9.38

In [204]:
# get only the Price where Price is < 10 and > 0
sp500[(sp500.Price > 0) & (sp500.Price < 10)].Price

Symbol
FTR     5.81
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [210]:
# rename the Book Value column to not have a space
   # this returns a copy with the column renamed
df = sp500.rename(columns = {'Book Value': 'BookValue'})
df.head(2)
#or
print(df[0:2])

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

In [208]:
# verify the columns in the original did not change
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [211]:
#this changes the column in-place
sp500.rename(columns = {'Book Value':'BookValue'}, inplace = True)
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [213]:
 # and now we can use .BookValue
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [215]:
sp500.iloc[0:5].BookValue

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [226]:
 # make a copy
copy = sp500.copy()
copy
#add a new column to the copy
copy['TwicePrice'] = copy["Price"] * 2
# OR copy['TwicePrice'] = sp500.Price * 2
copy[0:2]

             Sector   Price  BookValue  TwicePrice
Symbol
MMM     Industrials  141.14     26.668      282.28
ABT     Health Care   39.60     15.573       79.20

In [221]:
copy["Price"] * 2

Symbol
MMM     282.28
ABT      79.20
ABBV    107.90
ACN     159.58
ACE     205.82
         ...
YHOO     70.04
YUM     149.54
ZMH     203.68
ZION     56.86
ZTS      61.06
Name: Price, Length: 500, dtype: float64

In [230]:
copy = sp500.copy()
#insert sp500.Price * 2 as the second column in the dataframe
copy.insert(1, 'TwicePrice', sp500.Price * 2)
copy[0:2]

             Sector  TwicePrice   Price  BookValue
Symbol
MMM     Industrials      282.28  141.14     26.668
ABT     Health Care       79.20   39.60     15.573

In [234]:
# extract the first four rows and just the Price column
rcopy = sp500[0:3]['Price'].copy
rcopy

<bound method NDFrame.copy of Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
Name: Price, dtype: float64>

In [5]:
import numpy as np
import pandas as pd
np.random.seed(123456)
df = pd.DataFrame(np.random.randn(5,4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

In [6]:
df * 2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

In [7]:
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [14]:
np.random.seed(123456)
df = pd.DataFrame(np.random.randn(5,4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

In [15]:

subframe = df[1:4][['B','C']]
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [16]:
df - subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

In [21]:
a_col = df['A']
a_col

0    0.469112
1    1.212112
2   -0.861849
3    0.721555
4   -0.424972
Name: A, dtype: float64

In [22]:
df.sub(a_col, axis=0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

In [28]:
 np.random.seed(1)
s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])
s

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [35]:
s2 = s.reindex(['a','c','e','g'])
s2['a'] = 0
print(s2)
print(s2['a'])

a    0.000000
c   -0.528172
e    0.865408
g         NaN
dtype: float64
0.0

In [42]:
s1 = pd.Series([0,1,2], index = [0,1,2])
s2 = pd.Series([3,4,5], index = ['0','1','2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [44]:
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [46]:
s2 = s.copy()
s2

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [47]:
s2.reindex(['a','f'], fill_value=0)
s2

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [48]:
s3= pd.Series(['red', 'green', 'blue'], index=[0,3,5])
s3

0      red
3    green
5     blue
dtype: object

In [49]:
s3.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object