In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 8)
#pd.set_option('precision', 3)

In [2]:
msft = pd.read_csv('msft.csv', index_col = 0, parse_dates = True)
aapl = pd.read_csv('aapl.csv', index_col = 0, parse_dates = True)

In [3]:
msft[:3]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500   24.42183
2012-01-04  26.82  27.47  26.78  27.40  80516100   24.99657
2012-01-05  27.38  27.73  27.29  27.68  56081400   25.25201

In [4]:
aapl[0:3]

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-01-03  409.39996  412.50000  409.00000  411.22998  75555200   55.41362
2012-01-04  410.00000  414.68002  409.28000  413.44000  65005500   55.71143
2012-01-05  414.94998  418.55002  412.67004  418.03000  67817400   56.32993

In [5]:
msftA01 = msft['2012-01']["Adj Close"] #contains 20 rows
msftA02 = msft['2012-02']['Adj Close']#contains 20 rows

/var/folders/q6/g7092d4n0qd1jz1vdnn2st200000gn/T/ipykernel_803/1871248625.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  msftA01 = msft['2012-01']["Adj Close"] #contains 20 rows
/var/folders/q6/g7092d4n0qd1jz1vdnn2st200000gn/T/ipykernel_803/1871248625.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  msftA02 = msft['2012-02']['Adj Close']#contains 20 rows

In [6]:
msftA01[0:3]

Date
2012-01-03    24.42183
2012-01-04    24.99657
2012-01-05    25.25201
Name: Adj Close, dtype: float64

In [7]:
msftA02[0:3]

Date
2012-02-01    27.26815
2012-02-02    27.32289
2012-02-03    27.58745
Name: Adj Close, dtype: float64

In [10]:
pd.concat([msftA01.head(3),msftA02.head(3)], ignore_index = False, sort = False)

Date
2012-01-03    24.42183
2012-01-04    24.99657
2012-01-05    25.25201
2012-02-01    27.26815
2012-02-02    27.32289
2012-02-03    27.58745
Name: Adj Close, dtype: float64

In [11]:
aaplA01 = aapl['2012-01']['Adj Close']

/var/folders/q6/g7092d4n0qd1jz1vdnn2st200000gn/T/ipykernel_803/2511024928.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  aaplA01 = aapl['2012-01']['Adj Close']

In [13]:
aaplA01.head(3)

Date
2012-01-03    55.41362
2012-01-04    55.71143
2012-01-05    56.32993
Name: Adj Close, dtype: float64

In [14]:
withDups = pd.concat([msftA01[0:3], aaplA01[0:3]])
withDups

Date
2012-01-03    24.42183
2012-01-04    24.99657
2012-01-05    25.25201
2012-01-03    55.41362
2012-01-04    55.71143
2012-01-05    56.32993
Name: Adj Close, dtype: float64

In [15]:
withDups.loc['2012-01-03']

Date
2012-01-03    24.42183
2012-01-03    55.41362
Name: Adj Close, dtype: float64

In [16]:
closes = pd.concat([msftA01[0:3], aaplA01[0:3]], keys=['MSFT','AAPL'])
closes

      Date
MSFT  2012-01-03    24.42183
      2012-01-04    24.99657
      2012-01-05    25.25201
AAPL  2012-01-03    55.41362
      2012-01-04    55.71143
      2012-01-05    56.32993
Name: Adj Close, dtype: float64

In [17]:
closes.index

MultiIndex([('MSFT', '2012-01-03'),
            ('MSFT', '2012-01-04'),
            ('MSFT', '2012-01-05'),
            ('AAPL', '2012-01-03'),
            ('AAPL', '2012-01-04'),
            ('AAPL', '2012-01-05')],
           names=[None, 'Date'])

In [18]:
closes.loc['MSFT'][0:3]

Date
2012-01-03    24.42183
2012-01-04    24.99657
2012-01-05    25.25201
Name: Adj Close, dtype: float64

In [19]:
msftAV = msft[["Adj Close","Volume"]]
aaplAV = aapl[["Adj Close","Volume"]]

In [20]:
msftAV[0:3]

            Adj Close    Volume
Date
2012-01-03   24.42183  64731500
2012-01-04   24.99657  80516100
2012-01-05   25.25201  56081400

In [21]:
aaplAV[0:3]

            Adj Close    Volume
Date
2012-01-03   55.41362  75555200
2012-01-04   55.71143  65005500
2012-01-05   56.32993  67817400

In [22]:
pd.concat([msftAV[0:3],aaplAV[0:3] ], keys = ["MSFT", "AAPL"])

                 Adj Close    Volume
     Date
MSFT 2012-01-03   24.42183  64731500
     2012-01-04   24.99657  80516100
     2012-01-05   25.25201  56081400
AAPL 2012-01-03   55.41362  75555200
     2012-01-04   55.71143  65005500
     2012-01-05   56.32993  67817400

In [31]:
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close      Volume
Date
2012-01-03   24.42183  64731500.0
2012-01-04   24.99657  80516100.0
2012-01-05   25.25201  56081400.0
2012-01-06   25.64429  99455500.0
...               ...         ...
2012-12-24   70.71585         NaN
2012-12-26   69.74111         NaN
2012-12-27   70.02116         NaN
2012-12-28   69.27753         NaN

[498 rows x 2 columns]

In [36]:
msftA = msft[['Adj Close']]
closes = pd.concat([msftA, aaplA], axis=1)
closes[0:3]

            Adj Close  Adj Close
Date
2012-01-03   24.42183   55.41362
2012-01-04   24.99657   55.71143
2012-01-05   25.25201   56.32993

In [40]:
pd.concat([msftAV[0:5], aaplAV[0:3]], axis=1, keys = ["MSFTAV", 'AAPLAV'])

              MSFTAV              AAPLAV
           Adj Close    Volume Adj Close      Volume
Date
2012-01-03  24.42183  64731500  55.41362  75555200.0
2012-01-04  24.99657  80516100  55.71143  65005500.0
2012-01-05  25.25201  56081400  56.32993  67817400.0
2012-01-06  25.64429  99455500       NaN         NaN
2012-01-09  25.30675  59706800       NaN         NaN

In [51]:
pd.concat([msftAV[:5], aaplAV[:3]], axis = 1, join="inner", keys=["msftAV",'aaplAV'])

                   0         1         2         3
Date
2012-01-03  24.42183  64731500  55.41362  75555200
2012-01-04  24.99657  80516100  55.71143  65005500
2012-01-05  25.25201  56081400  56.32993  67817400

In [58]:
pd.concat([msftA[:5], aaplA[:3]], ignore_index=True)

   Adj Close
0   24.42183
1   24.99657
2   25.25201
3   25.64429
4   25.30675
5   55.41362
6   55.71143
7   56.32993

In [65]:
msftAR = msftA.reset_index()
msftVR = msft[['Volume']].reset_index()
msftAR[:3]

        Date  Adj Close
0 2012-01-03   24.42183
1 2012-01-04   24.99657
2 2012-01-05   25.25201

In [66]:
msftVR[:3]

        Date    Volume
0 2012-01-03  64731500
1 2012-01-04  80516100
2 2012-01-05  56081400

In [68]:
msftCVR = pd.merge(msftAR,msftVR)
msftCVR[:5]

        Date  Adj Close    Volume
0 2012-01-03   24.42183  64731500
1 2012-01-04   24.99657  80516100
2 2012-01-05   25.25201  56081400
3 2012-01-06   25.64429  99455500
4 2012-01-09   25.30675  59706800

In [74]:
msftAR0_5 = msftAR[0:5]
msftAR0_5

        Date  Adj Close
0 2012-01-03   24.42183
1 2012-01-04   24.99657
2 2012-01-05   25.25201
3 2012-01-06   25.64429
4 2012-01-09   25.30675

In [73]:
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date    Volume
2 2012-01-05  56081400
3 2012-01-06  99455500

In [75]:
pd.merge(msftAR0_5,msftVR2_4)

        Date  Adj Close    Volume
0 2012-01-05   25.25201  56081400
1 2012-01-06   25.64429  99455500

In [78]:
pd.merge(msftAR0_5,msftVR2_4, how="outer")

        Date  Adj Close      Volume
0 2012-01-03   24.42183         NaN
1 2012-01-04   24.99657         NaN
2 2012-01-05   25.25201  56081400.0
3 2012-01-06   25.64429  99455500.0
4 2012-01-09   25.30675         NaN

In [85]:
print(msft[:3])
print(aapl[:3])

           Symbol   Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03   MSFT  26.55  26.96  26.39  26.77  64731500   24.42183
2012-01-04   MSFT  26.82  27.47  26.78  27.40  80516100   24.99657
2012-01-05   MSFT  27.38  27.73  27.29  27.68  56081400   25.25201
           Symbol       Open       High        Low      Close    Volume  \
Date
2012-01-03   AAPL  409.39996  412.50000  409.00000  411.22998  75555200
2012-01-04   AAPL  410.00000  414.68002  409.28000  413.44000  65005500
2012-01-05   AAPL  414.94998  418.55002  412.67004  418.03000  67817400

            Adj Close
Date
2012-01-03   55.41362
2012-01-04   55.71143
2012-01-05   56.32993

In [82]:
msft.insert(0, 'Symbol', 'MSFT')
aapl.insert(0, 'Symbol', 'AAPL')

In [89]:
combined = pd.concat([msft, aapl]).sort_index()
combined

           Symbol       Open       High        Low      Close     Volume  \
Date
2012-01-03   MSFT   26.55000   26.96000   26.39000   26.77000   64731500
2012-01-03   AAPL  409.39996  412.50000  409.00000  411.22998   75555200
2012-01-04   MSFT   26.82000   27.47000   26.78000   27.40000   80516100
2012-01-04   AAPL  410.00000  414.68002  409.28000  413.44000   65005500
...           ...        ...        ...        ...        ...        ...
2012-12-27   AAPL  513.54004  516.25000  504.66003  515.06000  113780100
2012-12-27   MSFT   26.89000   27.09000   26.57000   26.96000   39394000
2012-12-28   MSFT   26.71000   26.90000   26.55000   26.55000   28239900
2012-12-28   AAPL  510.28998  514.47998  508.12000  509.58997   88569600

            Adj Close
Date
2012-01-03   24.42183
2012-01-03   55.41362
2012-01-04   24.99657
2012-01-04   55.71143
...               ...
2012-12-27   70.02116
2012-12-27   25.29074
2012-12-28   24.90612
2012-12-28   69.27753

[498 rows x 7 columns]

In [90]:
s4p = combined.reset_index()
s4p

          Date Symbol       Open       High        Low      Close     Volume  \
0   2012-01-03   MSFT   26.55000   26.96000   26.39000   26.77000   64731500
1   2012-01-03   AAPL  409.39996  412.50000  409.00000  411.22998   75555200
2   2012-01-04   MSFT   26.82000   27.47000   26.78000   27.40000   80516100
3   2012-01-04   AAPL  410.00000  414.68002  409.28000  413.44000   65005500
..         ...    ...        ...        ...        ...        ...        ...
494 2012-12-27   AAPL  513.54004  516.25000  504.66003  515.06000  113780100
495 2012-12-27   MSFT   26.89000   27.09000   26.57000   26.96000   39394000
496 2012-12-28   MSFT   26.71000   26.90000   26.55000   26.55000   28239900
497 2012-12-28   AAPL  510.28998  514.47998  508.12000  509.58997   88569600

     Adj Close
0     24.42183
1     55.41362
2     24.99657
3     55.71143
..         ...
494   70.02116
495   25.29074
496   24.90612
497   69.27753

[498 rows x 8 columns]

In [95]:
closes = s4p.pivot(index='Date', columns='Symbol', values='Open')
closes

Symbol           AAPL   MSFT
Date
2012-01-03  409.39996  26.55
2012-01-04  410.00000  26.82
2012-01-05  414.94998  27.38
2012-01-06  419.76999  27.53
...               ...    ...
2012-12-24  520.34998  27.20
2012-12-26  519.00000  27.03
2012-12-27  513.54004  26.89
2012-12-28  510.28998  26.71

[249 rows x 2 columns]

In [98]:
stackedCloses = closes.stack()
stackedCloses

Date        Symbol
2012-01-03  AAPL      409.39996
            MSFT       26.55000
2012-01-04  AAPL      410.00000
            MSFT       26.82000
                        ...
2012-12-27  AAPL      513.54004
            MSFT       26.89000
2012-12-28  AAPL      510.28998
            MSFT       26.71000
Length: 498, dtype: float64

In [99]:
stackedCloses.loc['2012-01-03','AAPL']

409.39996

In [100]:
stackedCloses.loc['2012-01-03','MSFT']

26.55

In [101]:
stackedCloses.loc[:, 'MSFT']

Date
2012-01-03    26.55
2012-01-04    26.82
2012-01-05    27.38
2012-01-06    27.53
              ...
2012-12-24    27.20
2012-12-26    27.03
2012-12-27    26.89
2012-12-28    26.71
Length: 249, dtype: float64

In [102]:
stackedCloses['2012-01-03']

Symbol
AAPL    409.39996
MSFT     26.55000
dtype: float64

In [103]:
unstackedCloses = stackedCloses.unstack()

In [108]:
s4p[:5]

        Date Symbol       Open       High     Low      Close    Volume  \
0 2012-01-03   MSFT   26.55000   26.96000   26.39   26.77000  64731500
1 2012-01-03   AAPL  409.39996  412.50000  409.00  411.22998  75555200
2 2012-01-04   MSFT   26.82000   27.47000   26.78   27.40000  80516100
3 2012-01-04   AAPL  410.00000  414.68002  409.28  413.44000  65005500
4 2012-01-05   MSFT   27.38000   27.73000   27.29   27.68000  56081400

   Adj Close
0   24.42183
1   55.41362
2   24.99657
3   55.71143
4   25.25201

In [106]:
melted = pd.melt(s4p, id_vars = ['Date', 'Symbol'])
melted[:5]

        Date Symbol variable      value
0 2012-01-03   MSFT     Open   26.55000
1 2012-01-03   AAPL     Open  409.39996
2 2012-01-04   MSFT     Open   26.82000
3 2012-01-04   AAPL     Open  410.00000
4 2012-01-05   MSFT     Open   27.38000

In [145]:
s4g = combined[['Symbol','Adj Close']].reset_index()
s4g

          Date Symbol  Adj Close
0   2012-01-03   MSFT   24.42183
1   2012-01-03   AAPL   55.41362
2   2012-01-04   MSFT   24.99657
3   2012-01-04   AAPL   55.71143
..         ...    ...        ...
494 2012-12-27   AAPL   70.02116
495 2012-12-27   MSFT   25.29074
496 2012-12-28   MSFT   24.90612
497 2012-12-28   AAPL   69.27753

[498 rows x 3 columns]

In [146]:
s4g.insert(1, 'Year', pd.DatetimeIndex(s4g['Date']).year)

In [147]:
s4g.insert(2, 'Month', pd.DatetimeIndex(s4g['Date']).month)

In [148]:
s4g[:10]

         Date  Year  Month Symbol  Adj Close
0  2012-01-03  2012      1   MSFT   24.42183
1  2012-01-03  2012      1   AAPL   55.41362
2  2012-01-04  2012      1   MSFT   24.99657
3  2012-01-04  2012      1   AAPL   55.71143
..        ...   ...    ...    ...        ...
6  2012-01-06  2012      1   MSFT   25.64429
7  2012-01-06  2012      1   AAPL   56.91880
8  2012-01-09  2012      1   MSFT   25.30675
9  2012-01-09  2012      1   AAPL   56.82851

[10 rows x 5 columns]

In [149]:
s4g.groupby('Symbol')

In [150]:
grouped = s4g.groupby('Symbol')
type(grouped.groups)

pandas.io.formats.printing.PrettyDict

In [151]:
grouped.groups

{'AAPL': [1, 3, 5, 7, 9, 11, 13, 14, 16, 18, 20, 23, 25, 27, 29, 30, 33, 34, 37, 38, 41, 43, 44, 46, 49, 51, 52, 54, 57, 59, 61, 62, 64, 67, 68, 71, 72, 75, 77, 79, 81, 82, 84, 86, 89, 90, 93, 95, 96, 99, 100, 103, 105, 107, 109, 111, 112, 114, 117, 119, 121, 122, 124, 126, 128, 130, 132, 134, 137, 139, 140, 142, 145, 147, 149, 151, 153, 154, 156, 158, 160, 163, 164, 166, 168, 170, 173, 175, 176, 178, 180, 183, 184, 186, 189, 190, 193, 194, 196, 198, ...], 'MSFT': [0, 2, 4, 6, 8, 10, 12, 15, 17, 19, 21, 22, 24, 26, 28, 31, 32, 35, 36, 39, 40, 42, 45, 47, 48, 50, 53, 55, 56, 58, 60, 63, 65, 66, 69, 70, 73, 74, 76, 78, 80, 83, 85, 87, 88, 91, 92, 94, 97, 98, 101, 102, 104, 106, 108, 110, 113, 115, 116, 118, 120, 123, 125, 127, 129, 131, 133, 135, 136, 138, 141, 143, 144, 146, 148, 150, 152, 155, 157, 159, 161, 162, 165, 167, 169, 171, 172, 174, 177, 179, 181, 182, 185, 187, 188, 191, 192, 195, 197, 199, ...]}

In [152]:
len(grouped), grouped.ngroups

(2, 2)

In [153]:
def print_groups(groupobject):
    for name, group in groupobject:
        print(name)
        print(group)
print_groups(grouped)

AAPL
          Date  Year  Month Symbol  Adj Close
1   2012-01-03  2012      1   AAPL   55.41362
3   2012-01-04  2012      1   AAPL   55.71143
5   2012-01-05  2012      1   AAPL   56.32993
7   2012-01-06  2012      1   AAPL   56.91880
..         ...   ...    ...    ...        ...
490 2012-12-24  2012     12   AAPL   70.71585
492 2012-12-26  2012     12   AAPL   69.74111
494 2012-12-27  2012     12   AAPL   70.02116
497 2012-12-28  2012     12   AAPL   69.27753

[249 rows x 5 columns]
MSFT
          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT   24.42183
2   2012-01-04  2012      1   MSFT   24.99657
4   2012-01-05  2012      1   MSFT   25.25201
6   2012-01-06  2012      1   MSFT   25.64429
..         ...   ...    ...    ...        ...
491 2012-12-24  2012     12   MSFT   25.38455
493 2012-12-26  2012     12   MSFT   25.19693
495 2012-12-27  2012     12   MSFT   25.29074
496 2012-12-28  2012     12   MSFT   24.90612

[249 rows x 5 columns]

In [154]:
grouped.size()

Symbol
AAPL    249
MSFT    249
dtype: int64

In [155]:
grouped.get_group('MSFT')

          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT   24.42183
2   2012-01-04  2012      1   MSFT   24.99657
4   2012-01-05  2012      1   MSFT   25.25201
6   2012-01-06  2012      1   MSFT   25.64429
..         ...   ...    ...    ...        ...
491 2012-12-24  2012     12   MSFT   25.38455
493 2012-12-26  2012     12   MSFT   25.19693
495 2012-12-27  2012     12   MSFT   25.29074
496 2012-12-28  2012     12   MSFT   24.90612

[249 rows x 5 columns]

In [158]:
#multiple column group
mcg = s4g.groupby(['Symbol','Year','Month'])
mcg.size()

Symbol  Year  Month
AAPL    2012  1        20
              2        20
              3        22
              4        20
                       ..
MSFT    2012  9        19
              10       21
              11       21
              12       19
Length: 24, dtype: int64

In [162]:
print_groups(mcg)

('AAPL', 2012, 1)
         Date  Year  Month Symbol  Adj Close
1  2012-01-03  2012      1   AAPL   55.41362
3  2012-01-04  2012      1   AAPL   55.71143
5  2012-01-05  2012      1   AAPL   56.32993
7  2012-01-06  2012      1   AAPL   56.91880
..        ...   ...    ...    ...        ...
33 2012-01-26  2012      1   AAPL   59.91430
34 2012-01-27  2012      1   AAPL   60.27139
37 2012-01-30  2012      1   AAPL   61.04352
38 2012-01-31  2012      1   AAPL   61.51111

[20 rows x 5 columns]
('AAPL', 2012, 2)
         Date  Year  Month Symbol  Adj Close
41 2012-02-01  2012      2   AAPL   61.47202
43 2012-02-02  2012      2   AAPL   61.32784
44 2012-02-03  2012      2   AAPL   61.94231
46 2012-02-06  2012      2   AAPL   62.52039
..        ...   ...    ...    ...        ...
72 2012-02-24  2012      2   AAPL   70.39523
75 2012-02-27  2012      2   AAPL   70.84664
77 2012-02-28  2012      2   AAPL   72.14699
79 2012-02-29  2012      2   AAPL   73.09430

[20 rows x 5 columns]
('AAPL', 2012, 3)
          Date  Year  Month Symbol  Adj Close
81  2012-03-01  2012      3   AAPL   73.36784
82  2012-03-02  2012      3   AAPL   73.46351
84  2012-03-05  2012      3   AAPL   71.84380
86  2012-03-06  2012      3   AAPL   71.45303
..         ...   ...    ...    ...        ...
117 2012-03-27  2012      3   AAPL   82.80175
119 2012-03-28  2012      3   AAPL   83.22487
121 2012-03-29  2012      3   AAPL   82.17921
122 2012-03-30  2012      3   AAPL   80.78992

[22 rows x 5 columns]
('AAPL', 2012, 4)
          Date  Year  Month Symbol  Adj Close
124 2012-04-02  2012      4   AAPL   83.36096
126 2012-04-03  2012      4   AAPL   84.80146
128 2012-04-04  2012      4   AAPL   84.12635
130 2012-04-05  2012      4   AAPL   85.38896
..         ...   ...    ...    ...        ...
156 2012-04-25  2012      4   AAPL   82.19807
158 2012-04-26  2012      4   AAPL   81.88815
160 2012-04-27  2012      4   AAPL   81.25481
163 2012-04-30  2012      4   AAPL   78.69185

[20 rows x 5 columns]
('AAPL', 2012, 5)
          Date  Year  Month Symbol  Adj Close
164 2012-05-01  2012      5   AAPL   78.44256
166 2012-05-02  2012      5   AAPL   78.96136
168 2012-05-03  2012      5   AAPL   78.40079
170 2012-05-04  2012      5   AAPL   76.16796
..         ...   ...    ...    ...        ...
200 2012-05-25  2012      5   AAPL   75.76910
202 2012-05-29  2012      5   AAPL   77.11391
205 2012-05-30  2012      5   AAPL   78.04369
207 2012-05-31  2012      5   AAPL   77.84966

[22 rows x 5 columns]
('AAPL', 2012, 6)
          Date  Year  Month Symbol  Adj Close
208 2012-06-01  2012      6   AAPL   75.59393
211 2012-06-04  2012      6   AAPL   76.03860
213 2012-06-05  2012      6   AAPL   75.84187
215 2012-06-06  2012      6   AAPL   77.00476
..         ...   ...    ...    ...        ...
242 2012-06-26  2012      6   AAPL   77.08157
244 2012-06-27  2012      6   AAPL   77.41441
247 2012-06-28  2012      6   AAPL   76.68002
248 2012-06-29  2012      6   AAPL   78.69454

[21 rows x 5 columns]
('AAPL', 2012, 7)
          Date  Year  Month Symbol  Adj Close
250 2012-07-02  2012      7   AAPL   79.84262
252 2012-07-03  2012      7   AAPL   80.77105
254 2012-07-05  2012      7   AAPL   82.18999
257 2012-07-06  2012      7   AAPL   81.64290
..         ...   ...    ...    ...        ...
284 2012-07-26  2012      7   AAPL   77.46561
286 2012-07-27  2012      7   AAPL   78.85086
288 2012-07-30  2012      7   AAPL   80.18085
291 2012-07-31  2012      7   AAPL   82.30048

[21 rows x 5 columns]
('AAPL', 2012, 8)
          Date  Year  Month Symbol  Adj Close
293 2012-08-01  2012      8   AAPL   81.76821
295 2012-08-02  2012      8   AAPL   81.90026
296 2012-08-03  2012      8   AAPL   82.96614
298 2012-08-06  2012      8   AAPL   83.88918
..         ...   ...    ...    ...        ...
331 2012-08-28  2012      8   AAPL   91.32034
333 2012-08-29  2012      8   AAPL   91.14035
335 2012-08-30  2012      8   AAPL   89.84119
337 2012-08-31  2012      8   AAPL   90.02659

[23 rows x 5 columns]
('AAPL', 2012, 9)
          Date  Year  Month Symbol  Adj Close
338 2012-09-04  2012      9   AAPL   91.34335
340 2012-09-05  2012      9   AAPL   90.70187
343 2012-09-06  2012      9   AAPL   91.51927
344 2012-09-07  2012      9   AAPL   92.08360
..         ...   ...    ...    ...        ...
368 2012-09-25  2012      9   AAPL   91.14983
370 2012-09-26  2012      9   AAPL   90.01846
372 2012-09-27  2012      9   AAPL   92.20268
375 2012-09-28  2012      9   AAPL   90.27831

[19 rows x 5 columns]
('AAPL', 2012, 10)
          Date  Year  Month Symbol  Adj Close
377 2012-10-01  2012     10   AAPL   89.23491
379 2012-10-02  2012     10   AAPL   89.49474
380 2012-10-03  2012     10   AAPL   90.86699
382 2012-10-04  2012     10   AAPL   90.23770
..         ...   ...    ...    ...        ...
410 2012-10-24  2012     10   AAPL   83.47528
412 2012-10-25  2012     10   AAPL   82.48873
414 2012-10-26  2012     10   AAPL   81.73901
417 2012-10-31  2012     10   AAPL   80.56435

[21 rows x 5 columns]
('AAPL', 2012, 11)
          Date  Year  Month Symbol  Adj Close
419 2012-11-01  2012     11   AAPL   80.72945
420 2012-11-02  2012     11   AAPL   78.05805
423 2012-11-05  2012     11   AAPL   79.11633
425 2012-11-06  2012     11   AAPL   78.87679
..         ...   ...    ...    ...        ...
452 2012-11-27  2012     11   AAPL   79.49943
455 2012-11-28  2012     11   AAPL   79.24928
456 2012-11-29  2012     11   AAPL   80.12207
458 2012-11-30  2012     11   AAPL   79.56740

[21 rows x 5 columns]
('AAPL', 2012, 12)
          Date  Year  Month Symbol  Adj Close
460 2012-12-03  2012     12   AAPL   79.69112
463 2012-12-04  2012     12   AAPL   78.28542
464 2012-12-05  2012     12   AAPL   73.24720
466 2012-12-06  2012     12   AAPL   74.39595
..         ...   ...    ...    ...        ...
490 2012-12-24  2012     12   AAPL   70.71585
492 2012-12-26  2012     12   AAPL   69.74111
494 2012-12-27  2012     12   AAPL   70.02116
497 2012-12-28  2012     12   AAPL   69.27753

[19 rows x 5 columns]
('MSFT', 2012, 1)
         Date  Year  Month Symbol  Adj Close
0  2012-01-03  2012      1   MSFT   24.42183
2  2012-01-04  2012      1   MSFT   24.99657
4  2012-01-05  2012      1   MSFT   25.25201
6  2012-01-06  2012      1   MSFT   25.64429
..        ...   ...    ...    ...        ...
32 2012-01-26  2012      1   MSFT   26.91236
35 2012-01-27  2012      1   MSFT   26.66605
36 2012-01-30  2012      1   MSFT   27.01272
39 2012-01-31  2012      1   MSFT   26.93973

[20 rows x 5 columns]
('MSFT', 2012, 2)
         Date  Year  Month Symbol  Adj Close
40 2012-02-01  2012      2   MSFT   27.26815
42 2012-02-02  2012      2   MSFT   27.32289
45 2012-02-03  2012      2   MSFT   27.58745
47 2012-02-06  2012      2   MSFT   27.55096
..        ...   ...    ...    ...        ...
73 2012-02-24  2012      2   MSFT   28.90775
74 2012-02-27  2012      2   MSFT   28.78837
76 2012-02-28  2012      2   MSFT   29.26588
78 2012-02-29  2012      2   MSFT   29.14650

[20 rows x 5 columns]
('MSFT', 2012, 3)
          Date  Year  Month Symbol  Adj Close
80  2012-03-01  2012      3   MSFT   29.65156
83  2012-03-02  2012      3   MSFT   29.45872
85  2012-03-05  2012      3   MSFT   29.20160
87  2012-03-06  2012      3   MSFT   28.98121
..         ...   ...    ...    ...        ...
116 2012-03-27  2012      3   MSFT   29.86277
118 2012-03-28  2012      3   MSFT   29.55973
120 2012-03-29  2012      3   MSFT   29.49545
123 2012-03-30  2012      3   MSFT   29.62401

[22 rows x 5 columns]
('MSFT', 2012, 4)
          Date  Year  Month Symbol  Adj Close
125 2012-04-02  2012      4   MSFT   29.65156
127 2012-04-03  2012      4   MSFT   29.33016
129 2012-04-04  2012      4   MSFT   28.65981
131 2012-04-05  2012      4   MSFT   28.94448
..         ...   ...    ...    ...        ...
157 2012-04-25  2012      4   MSFT   29.56892
159 2012-04-26  2012      4   MSFT   29.48627
161 2012-04-27  2012      4   MSFT   29.36689
162 2012-04-30  2012      4   MSFT   29.40363

[20 rows x 5 columns]
('MSFT', 2012, 5)
          Date  Year  Month Symbol  Adj Close
165 2012-05-01  2012      5   MSFT   29.39444
167 2012-05-02  2012      5   MSFT   29.20160
169 2012-05-03  2012      5   MSFT   29.16487
171 2012-05-04  2012      5   MSFT   28.44860
..         ...   ...    ...    ...        ...
201 2012-05-25  2012      5   MSFT   26.86059
203 2012-05-29  2012      5   MSFT   27.32275
204 2012-05-30  2012      5   MSFT   27.11940
206 2012-05-31  2012      5   MSFT   26.98075

[22 rows x 5 columns]
('MSFT', 2012, 6)
          Date  Year  Month Symbol  Adj Close
209 2012-06-01  2012      6   MSFT   26.29676
210 2012-06-04  2012      6   MSFT   26.38919
212 2012-06-05  2012      6   MSFT   26.35222
214 2012-06-06  2012      6   MSFT   27.12864
..         ...   ...    ...    ...        ...
243 2012-06-26  2012      6   MSFT   27.74793
245 2012-06-27  2012      6   MSFT   27.88658
246 2012-06-28  2012      6   MSFT   27.64626
249 2012-06-29  2012      6   MSFT   28.27479

[21 rows x 5 columns]
('MSFT', 2012, 7)
          Date  Year  Month Symbol  Adj Close
251 2012-07-02  2012      7   MSFT   28.24706
253 2012-07-03  2012      7   MSFT   28.43192
255 2012-07-05  2012      7   MSFT   28.37647
256 2012-07-06  2012      7   MSFT   27.90507
..         ...   ...    ...    ...        ...
285 2012-07-26  2012      7   MSFT   26.95302
287 2012-07-27  2012      7   MSFT   27.50761
289 2012-07-30  2012      7   MSFT   27.39669
290 2012-07-31  2012      7   MSFT   27.23956

[21 rows x 5 columns]
('MSFT', 2012, 8)
          Date  Year  Month Symbol  Adj Close
292 2012-08-01  2012      8   MSFT   27.18410
294 2012-08-02  2012      8   MSFT   26.98075
297 2012-08-03  2012      8   MSFT   27.49837
299 2012-08-06  2012      8   MSFT   27.68323
..         ...   ...    ...    ...        ...
330 2012-08-28  2012      8   MSFT   28.49932
332 2012-08-29  2012      8   MSFT   28.51793
334 2012-08-30  2012      8   MSFT   28.21088
336 2012-08-31  2012      8   MSFT   28.67610

[23 rows x 5 columns]
('MSFT', 2012, 9)
          Date  Year  Month Symbol  Adj Close
339 2012-09-04  2012      9   MSFT   28.27601
341 2012-09-05  2012      9   MSFT   28.27601
342 2012-09-06  2012      9   MSFT   29.16924
345 2012-09-07  2012      9   MSFT   28.79706
..         ...   ...    ...    ...        ...
369 2012-09-25  2012      9   MSFT   28.27601
371 2012-09-26  2012      9   MSFT   28.07132
373 2012-09-27  2012      9   MSFT   28.06202
374 2012-09-28  2012      9   MSFT   27.68984

[19 rows x 5 columns]
('MSFT', 2012, 10)
          Date  Year  Month Symbol  Adj Close
376 2012-10-01  2012     10   MSFT   27.43862
378 2012-10-02  2012     10   MSFT   27.59680
381 2012-10-03  2012     10   MSFT   27.78288
383 2012-10-04  2012     10   MSFT   27.94106
..         ...   ...    ...    ...        ...
411 2012-10-24  2012     10   MSFT   25.95922
413 2012-10-25  2012     10   MSFT   25.94061
415 2012-10-26  2012     10   MSFT   26.24766
416 2012-10-31  2012     10   MSFT   26.55471

[21 rows x 5 columns]
('MSFT', 2012, 11)
          Date  Year  Month Symbol  Adj Close
418 2012-11-01  2012     11   MSFT   27.46654
421 2012-11-02  2012     11   MSFT   27.44793
422 2012-11-05  2012     11   MSFT   27.56888
424 2012-11-06  2012     11   MSFT   27.78288
..         ...   ...    ...    ...        ...
453 2012-11-27  2012     11   MSFT   25.40331
454 2012-11-28  2012     11   MSFT   25.66597
457 2012-11-29  2012     11   MSFT   25.28136
459 2012-11-30  2012     11   MSFT   24.97179

[21 rows x 5 columns]
('MSFT', 2012, 12)
          Date  Year  Month Symbol  Adj Close
461 2012-12-03  2012     12   MSFT   24.79355
462 2012-12-04  2012     12   MSFT   24.73727
465 2012-12-05  2012     12   MSFT   25.01869
467 2012-12-06  2012     12   MSFT   25.07498
..         ...   ...    ...    ...        ...
491 2012-12-24  2012     12   MSFT   25.38455
493 2012-12-26  2012     12   MSFT   25.19693
495 2012-12-27  2012     12   MSFT   25.29074
496 2012-12-28  2012     12   MSFT   24.90612

[19 rows x 5 columns]

In [166]:
mi = s4g.set_index(['Symbol','Year','Month'])
mi

                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03   24.42183
AAPL   2012 1     2012-01-03   55.41362
MSFT   2012 1     2012-01-04   24.99657
AAPL   2012 1     2012-01-04   55.71143
...                      ...        ...
            12    2012-12-27   70.02116
MSFT   2012 12    2012-12-27   25.29074
            12    2012-12-28   24.90612
AAPL   2012 12    2012-12-28   69.27753

[498 rows x 2 columns]

In [168]:
mig_11 = mi.groupby(level=0)
print_groups(mig_11)

AAPL
                        Date  Adj Close
Symbol Year Month
AAPL   2012 1     2012-01-03   55.41362
            1     2012-01-04   55.71143
            1     2012-01-05   56.32993
            1     2012-01-06   56.91880
...                      ...        ...
            12    2012-12-24   70.71585
            12    2012-12-26   69.74111
            12    2012-12-27   70.02116
            12    2012-12-28   69.27753

[249 rows x 2 columns]
MSFT
                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03   24.42183
            1     2012-01-04   24.99657
            1     2012-01-05   25.25201
            1     2012-01-06   25.64429
...                      ...        ...
            12    2012-12-24   25.38455
            12    2012-12-26   25.19693
            12    2012-12-27   25.29074
            12    2012-12-28   24.90612

[249 rows x 2 columns]

In [169]:
mig_112 = mi.groupby(level = ['Symbol', 'Year', 'Month'])
print_groups(mig_112)

('AAPL', 2012, 1)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 1     2012-01-03   55.41362
            1     2012-01-04   55.71143
            1     2012-01-05   56.32993
            1     2012-01-06   56.91880
...                      ...        ...
            1     2012-01-26   59.91430
            1     2012-01-27   60.27139
            1     2012-01-30   61.04352
            1     2012-01-31   61.51111

[20 rows x 2 columns]
('AAPL', 2012, 2)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 2     2012-02-01   61.47202
            2     2012-02-02   61.32784
            2     2012-02-03   61.94231
            2     2012-02-06   62.52039
...                      ...        ...
            2     2012-02-24   70.39523
            2     2012-02-27   70.84664
            2     2012-02-28   72.14699
            2     2012-02-29   73.09430

[20 rows x 2 columns]
('AAPL', 2012, 3)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 3     2012-03-01   73.36784
            3     2012-03-02   73.46351
            3     2012-03-05   71.84380
            3     2012-03-06   71.45303
...                      ...        ...
            3     2012-03-27   82.80175
            3     2012-03-28   83.22487
            3     2012-03-29   82.17921
            3     2012-03-30   80.78992

[22 rows x 2 columns]
('AAPL', 2012, 4)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 4     2012-04-02   83.36096
            4     2012-04-03   84.80146
            4     2012-04-04   84.12635
            4     2012-04-05   85.38896
...                      ...        ...
            4     2012-04-25   82.19807
            4     2012-04-26   81.88815
            4     2012-04-27   81.25481
            4     2012-04-30   78.69185

[20 rows x 2 columns]
('AAPL', 2012, 5)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 5     2012-05-01   78.44256
            5     2012-05-02   78.96136
            5     2012-05-03   78.40079
            5     2012-05-04   76.16796
...                      ...        ...
            5     2012-05-25   75.76910
            5     2012-05-29   77.11391
            5     2012-05-30   78.04369
            5     2012-05-31   77.84966

[22 rows x 2 columns]
('AAPL', 2012, 6)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 6     2012-06-01   75.59393
            6     2012-06-04   76.03860
            6     2012-06-05   75.84187
            6     2012-06-06   77.00476
...                      ...        ...
            6     2012-06-26   77.08157
            6     2012-06-27   77.41441
            6     2012-06-28   76.68002
            6     2012-06-29   78.69454

[21 rows x 2 columns]
('AAPL', 2012, 7)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 7     2012-07-02   79.84262
            7     2012-07-03   80.77105
            7     2012-07-05   82.18999
            7     2012-07-06   81.64290
...                      ...        ...
            7     2012-07-26   77.46561
            7     2012-07-27   78.85086
            7     2012-07-30   80.18085
            7     2012-07-31   82.30048

[21 rows x 2 columns]
('AAPL', 2012, 8)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 8     2012-08-01   81.76821
            8     2012-08-02   81.90026
            8     2012-08-03   82.96614
            8     2012-08-06   83.88918
...                      ...        ...
            8     2012-08-28   91.32034
            8     2012-08-29   91.14035
            8     2012-08-30   89.84119
            8     2012-08-31   90.02659

[23 rows x 2 columns]
('AAPL', 2012, 9)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 9     2012-09-04   91.34335
            9     2012-09-05   90.70187
            9     2012-09-06   91.51927
            9     2012-09-07   92.08360
...                      ...        ...
            9     2012-09-25   91.14983
            9     2012-09-26   90.01846
            9     2012-09-27   92.20268
            9     2012-09-28   90.27831

[19 rows x 2 columns]
('AAPL', 2012, 10)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 10    2012-10-01   89.23491
            10    2012-10-02   89.49474
            10    2012-10-03   90.86699
            10    2012-10-04   90.23770
...                      ...        ...
            10    2012-10-24   83.47528
            10    2012-10-25   82.48873
            10    2012-10-26   81.73901
            10    2012-10-31   80.56435

[21 rows x 2 columns]
('AAPL', 2012, 11)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 11    2012-11-01   80.72945
            11    2012-11-02   78.05805
            11    2012-11-05   79.11633
            11    2012-11-06   78.87679
...                      ...        ...
            11    2012-11-27   79.49943
            11    2012-11-28   79.24928
            11    2012-11-29   80.12207
            11    2012-11-30   79.56740

[21 rows x 2 columns]
('AAPL', 2012, 12)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 12    2012-12-03   79.69112
            12    2012-12-04   78.28542
            12    2012-12-05   73.24720
            12    2012-12-06   74.39595
...                      ...        ...
            12    2012-12-24   70.71585
            12    2012-12-26   69.74111
            12    2012-12-27   70.02116
            12    2012-12-28   69.27753

[19 rows x 2 columns]
('MSFT', 2012, 1)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03   24.42183
            1     2012-01-04   24.99657
            1     2012-01-05   25.25201
            1     2012-01-06   25.64429
...                      ...        ...
            1     2012-01-26   26.91236
            1     2012-01-27   26.66605
            1     2012-01-30   27.01272
            1     2012-01-31   26.93973

[20 rows x 2 columns]
('MSFT', 2012, 2)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 2     2012-02-01   27.26815
            2     2012-02-02   27.32289
            2     2012-02-03   27.58745
            2     2012-02-06   27.55096
...                      ...        ...
            2     2012-02-24   28.90775
            2     2012-02-27   28.78837
            2     2012-02-28   29.26588
            2     2012-02-29   29.14650

[20 rows x 2 columns]
('MSFT', 2012, 3)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 3     2012-03-01   29.65156
            3     2012-03-02   29.45872
            3     2012-03-05   29.20160
            3     2012-03-06   28.98121
...                      ...        ...
            3     2012-03-27   29.86277
            3     2012-03-28   29.55973
            3     2012-03-29   29.49545
            3     2012-03-30   29.62401

[22 rows x 2 columns]
('MSFT', 2012, 4)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 4     2012-04-02   29.65156
            4     2012-04-03   29.33016
            4     2012-04-04   28.65981
            4     2012-04-05   28.94448
...                      ...        ...
            4     2012-04-25   29.56892
            4     2012-04-26   29.48627
            4     2012-04-27   29.36689
            4     2012-04-30   29.40363

[20 rows x 2 columns]
('MSFT', 2012, 5)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 5     2012-05-01   29.39444
            5     2012-05-02   29.20160
            5     2012-05-03   29.16487
            5     2012-05-04   28.44860
...                      ...        ...
            5     2012-05-25   26.86059
            5     2012-05-29   27.32275
            5     2012-05-30   27.11940
            5     2012-05-31   26.98075

[22 rows x 2 columns]
('MSFT', 2012, 6)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 6     2012-06-01   26.29676
            6     2012-06-04   26.38919
            6     2012-06-05   26.35222
            6     2012-06-06   27.12864
...                      ...        ...
            6     2012-06-26   27.74793
            6     2012-06-27   27.88658
            6     2012-06-28   27.64626
            6     2012-06-29   28.27479

[21 rows x 2 columns]
('MSFT', 2012, 7)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 7     2012-07-02   28.24706
            7     2012-07-03   28.43192
            7     2012-07-05   28.37647
            7     2012-07-06   27.90507
...                      ...        ...
            7     2012-07-26   26.95302
            7     2012-07-27   27.50761
            7     2012-07-30   27.39669
            7     2012-07-31   27.23956

[21 rows x 2 columns]
('MSFT', 2012, 8)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 8     2012-08-01   27.18410
            8     2012-08-02   26.98075
            8     2012-08-03   27.49837
            8     2012-08-06   27.68323
...                      ...        ...
            8     2012-08-28   28.49932
            8     2012-08-29   28.51793
            8     2012-08-30   28.21088
            8     2012-08-31   28.67610

[23 rows x 2 columns]
('MSFT', 2012, 9)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 9     2012-09-04   28.27601
            9     2012-09-05   28.27601
            9     2012-09-06   29.16924
            9     2012-09-07   28.79706
...                      ...        ...
            9     2012-09-25   28.27601
            9     2012-09-26   28.07132
            9     2012-09-27   28.06202
            9     2012-09-28   27.68984

[19 rows x 2 columns]
('MSFT', 2012, 10)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 10    2012-10-01   27.43862
            10    2012-10-02   27.59680
            10    2012-10-03   27.78288
            10    2012-10-04   27.94106
...                      ...        ...
            10    2012-10-24   25.95922
            10    2012-10-25   25.94061
            10    2012-10-26   26.24766
            10    2012-10-31   26.55471

[21 rows x 2 columns]
('MSFT', 2012, 11)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 11    2012-11-01   27.46654
            11    2012-11-02   27.44793
            11    2012-11-05   27.56888
            11    2012-11-06   27.78288
...                      ...        ...
            11    2012-11-27   25.40331
            11    2012-11-28   25.66597
            11    2012-11-29   25.28136
            11    2012-11-30   24.97179

[21 rows x 2 columns]
('MSFT', 2012, 12)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 12    2012-12-03   24.79355
            12    2012-12-04   24.73727
            12    2012-12-05   25.01869
            12    2012-12-06   25.07498
...                      ...        ...
            12    2012-12-24   25.38455
            12    2012-12-26   25.19693
            12    2012-12-27   25.29074
            12    2012-12-28   24.90612

[19 rows x 2 columns]

In [170]:
mig_112.agg(np.mean)

                   Adj Close
Symbol Year Month
AAPL   2012 1      57.751284
            2      67.048153
            3      77.819703
            4      81.659466
...                      ...
MSFT   2012 9      28.640845
            10     27.044293
            11     26.004902
            12     25.309006

[24 rows x 1 columns]

In [172]:
#or
s4g.groupby(['Symbol', 'Year', 'Month'], as_index=False).agg(np.mean)[:5]

  Symbol  Year  Month  Adj Close
0   AAPL  2012      1  57.751284
1   AAPL  2012      2  67.048153
2   AAPL  2012      3  77.819703
3   AAPL  2012      4  81.659466
4   AAPL  2012      5  76.090236

In [173]:
mig_112.agg([np.mean, np.std])

/var/folders/q6/g7092d4n0qd1jz1vdnn2st200000gn/T/ipykernel_803/3693226673.py:1: FutureWarning: ['Date'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  mig_112.agg([np.mean, np.std])

                   Adj Close
                        mean       std
Symbol Year Month
AAPL   2012 1      57.751284  1.797870
            2      67.048153  3.569969
            3      77.819703  4.162433
            4      81.659466  3.062644
...                      ...       ...
MSFT   2012 9      28.640845  0.430641
            10     27.044293  0.666642
            11     26.004902  1.001457
            12     25.309006  0.364051

[24 rows x 2 columns]