In [1]:
banking = {"Checkings", "Savings","Loans","Dividents"}
print(banking)
print(type(banking))

{'Loans', 'Dividents', 'Savings', 'Checkings'}
<class 'set'>

In [4]:
namesset = {"Robert", "Mark", "Nancy"}
for name in names:
    print(name)

Mark
Robert
Nancy

In [6]:
namesset.add("Sahil")
namesset.add("Khushi")
print(namesset)
print(type(namesset))

{'Khushi', 'Mark', 'Sahil', 'Nancy', 'Robert'}
<class 'set'>

In [8]:
emptyset = set()
print(emptyset)
emptyset.add("Mutual Funds")
emptyset.add("Insurance")
emptyset.add("Stocks")
emptyset.add("Bonds")
print(emptyset)

set()
{'Bonds', 'Insurance', 'Mutual Funds', 'Stocks'}

In [11]:
emptyset.add("Mutual Funds")

In [12]:
print(emptyset)

{'Bonds', 'Insurance', 'Mutual Funds', 'Stocks'}

In [13]:
names = ["Trystan", "Clarence", "Nancy", "Trystan", "Clarence", "Jenny", "Trystan"] 
print(names)
print(type(names))

['Trystan', 'Clarence', 'Nancy', 'Trystan', 'Clarence', 'Jenny', 'Trystan']
<class 'list'>

In [14]:
names_set = set(names)
print(names_set)
print(type(names_set))

{'Jenny', 'Nancy', 'Clarence', 'Trystan'}
<class 'set'>

In [17]:
names_set.add("Trushal")
names_set

{'Clarence', 'Jenny', 'Nancy', 'Trushal', 'Trystan'}

In [19]:
names_set

{'Clarence', 'Jenny', 'Nancy', 'Trushal', 'Trystan'}

In [20]:
duplicate_set = {'Clarence', 'Jenny', 'Nancy', 'Trushal', 'Trystan', 'Clarence', 'Jenny', 'Nancy', 'Trushal', 'Trystan'}
print(duplicate_set)

{'Jenny', 'Clarence', 'Nancy', 'Trushal', 'Trystan'}

In [21]:
print("Jenny" in duplicate_set)

True

In [22]:
print("Clarence" in duplicate_set)

True

In [23]:
print("Ashwin" in duplicate_set)

False